:root{
    --dark-text: #261106;
    --light-text: #FDE2B9;
    --bg-beige: #c0ab86;
    --bg-green-gradient-down: linear-gradient(180deg, #89874A, #5C603E);
    --bg-green-gradient-up: linear-gradient(0deg, #89874A, #5C603E);
    --bg-green-solid: #89874A;
    --orange: #E19338;
    --light-beige: #FFFDEC;
    --bg-beige-gradient: linear-gradient(180deg, #c0ab86, #E1A763);
    --red: #C02424;

}

body {
    background-color: var(--bg-beige);    
    font-family: "Work Sans", sans-serif;
    color: var(--dark-text);
    font-size: 18px;
}

.center {
    text-align: center;
}

.header-info {
    margin: 15px 0px;
}

.header-info a {
    color: var(--dark-text);
    text-decoration: none;
    float: right;
}

.title h1 {
    font-size: 60px;
}

.title__content{
    display: flex;
}

.title__content-text {
    margin-top: 15px;
}

.title__content-img img {
    width: 80%;
    box-shadow: 4px 6px 6px 0px var(--dark-text);
}

.img-1{
    margin-right: -10%;
    margin-top: -8%;
    margin-left: 40px;
}

.img-2 {
    width: 60% !important;
    margin-top: -25%;
}

.bg-gradiente-verde  {
    background-image: var(--bg-green-gradient-down);
}

.botao button, .cadastro__botao {
    background-color: var(--orange);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 5px 6px 8px 0px var(--dark-text);
}

.botao button:hover, .cadastro__botao:hover {
    background-color: var(--orange);
    box-shadow: 5px 6px 8px 0px var(--light-beige);
    color: var(--light-beige);
    transition: 0.3s;
}

.servicos{
    color: var(--light-text);
    margin: 15px 0px;
    font-size: 18px;
}

.subtitle {
    margin-bottom: 50px;
}

.servicos h2, .review_title h2, .about__content h2, .perguntas h2, .cadastro h2 {
    font-size: 50px;
}

.servicos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
}

.grid__content img {
    width: 250px;
    margin-bottom: -40px;
}

.grid__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid__content p {
    color: var(--dark-text);
    font-weight: 600;
    margin-top: 40px;
}

.redondo button{
    background-color: var(--orange);
    border-radius: 50%;
    padding: 8px 12px 6px 14px;
}

.redondo {
    text-align: right;
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 25px 0px 10% 0px;
}

.about__content img {
    width: 95%;
    box-shadow: 4px 6px 6px 0px var(--dark-text);
}

.review__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
}

.review__grid__content {
    background-image: var(--bg-beige-gradient);
    width: fit-content;
    padding: 30px;
    border-radius: 0px 0px 6px 6px;
    margin: 0px 30px;
}

.review__grid__content  img{
    width: 160px;
    border-radius: 50%;
}

.review__grid__content p {
    font-size: 14px;
}

.bg-review {
    background-image: var(--bg-green-gradient-up);
    margin-top: 40px;
    padding-bottom: 60px;
}

.name {
    font-size: 18px !important;
    font-weight: 600;
    margin-top: 15px;
}

.review {
    margin: 30px 0px;
}

.bg-perguntas {
    background-image: url(/assets/images/bg-floresta.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: var(--light-text);
}

.perguntas {
    padding-top: 8%;
    padding-bottom: 8%;
}

.perguntas__card {
    margin: 15px;
    background-color: var(--bg-beige);
    padding: 20px 20px;
    color: var(--dark-text);
    text-align: left;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 3px var(--light-beige);
}

.col-md-12.perguntar__card-container {
    display: grid;
    margin: 50px 0px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.title_card {
    font-weight: 600;
}

.perguntas__card i {
    font-size: 26px;
    margin-bottom: 18px;
}

.cadastro__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 26px 0px;
}

.cadastro__box {
    width: 450px;
    border-radius: 6px;
    border: 1px solid var(--dark-text);
    margin-bottom: 20px;
    padding: 6px;
    background-color: var(--light-beige);
    text-align: center;
    color: var(--dark-text);
    font-size: 14px;
    font-weight: 600;
}

.cadastro {
    margin: 50px 0px;
}

.cadastro__botao {
    margin: 10px 0;
}

.footer {
    background-color: var(--bg-green-solid);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.footer img{
    width: 110px;
}


.footer i {
    font-size: 40px;
    margin: 0px 3px;
}

.footer p {
    margin-bottom: 0;
    font-weight: 600;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
}

.footer__left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.footer__right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

::placeholder{
    color: var(--dark-text);
}