/* Desktops */
@media screen and (max-width: 1800px) {
    .servicos {
        padding-top: 5%;
    }
    .bg-review {
        height: 100%;
        padding-bottom: 2%; 
    }
    .bg-perguntas {
        padding-top: 3%;
    }
    .open-btn {
        display: none;
    }
}
/* Laptops/Desktops */
@media screen and (max-width: 1200px) {
    .title__content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .grid__content img {
        width: 80%;
    }
    .cadastro {
        height: 100%;
        padding-top: 8%;
        padding-bottom: 4%;
    }
    .cadastro_container.center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cadastro_text {
        text-align: center;
        margin-bottom: 30px;
    }
    .videos {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
/* Tablets/Laptops pequenos */
@media screen and (max-width: 1024px) {
    .title__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    .col-md-7.title__content-img {
        display: none;
    }
    .title__content-text h1 {
        font-size: 50px;
    }
    .review__grid-container {
        grid-template-columns: 1fr;
    }
    .servicos {
        height: 100%;
        padding-bottom: 5%;
    }
    .review__grid__content {
        width: 70%;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    .about__container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    .bg-perguntas {
        height: 100%;
        padding-bottom: 4%;
    }
}
/* Tablets */ 
@media screen and (max-width: 768px) {
    .title__content {
        flex-direction: column;
        height: 100%;
    }
    .servicos {
        text-align: justify;
    }
    .servicos__grid {
        grid-template-columns: 1fr 1fr;
    }
    .bg-gradiente-verde {
        text-align: center;
    }
    .title h1 {
        text-align: center;
    }
    .about__content img {
        display: none;
    }
    .about__container {
        text-align: center;
    }
    .col-md-12.perguntar__card-container {
        grid-template-columns: 1fr;
    }

}
/* Dispositivos móveis maiores */
@media screen and (max-width: 600px) {
    .contato {
        align-items: center;
        margin-right: 5px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about__content {
        text-align: justify;
    }
    .header{
        display: none;
    }
    body {
        padding-top: 0;
    }
    .open-btn {
        display: block;
    }
}
/* Dispositivos móveis menores */
@media screen and (max-width: 480px) {
    .grid__content img {
        display: none;
    }
    .servicos__grid {
        grid-template-columns: 1fr;
    }
    .grid__content p {
        margin-top: 10px;
    }
    .col-md-5.title__content-text {
        text-align: left;
    }
    .cadastro__box, button#dropdownMenuButton, .dropdown-menu {
        width: 290px;
    }
}